.saved {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid silver;
    margin-top: 110px;
}

.saved-2 {
    display: flex;
    justify-content: center;
    border: 3px dotted ;
    padding: 80px;
}

.saved-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}